/**
* @file
* Styles for formatted output of svg_icon module.
*/

.svg-icon__has-canvas {
  position: relative;
  user-select: none;
}

.svg-icon__has-canvas canvas {
  display: block;
  visibility: hidden;
  height: 100%;
}

.svg-icon__has-canvas svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
