/**
* @file
* Styles for svg_icon module on forms.
*/

.svg-icon-preview {
  overflow-y: scroll;
  max-height: 500px;
}

.svg-wrapper {
  position: relative;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  transition: 0.2s;
}

.svg-wrapper svg {
  width: 50px;
  height: 50px;
}

.svg-wrapper:hover {
  cursor: pointer;
}

.svg-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: transparent url("/core/misc/icons/73b355/check.svg") no-repeat
    center center;
  background-size: 0;
}

.svg-wrapper.checked::after {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: 40px 40px;
}
